.about-container {
  padding: 20px;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-content {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 900px;
  width: 100%;
}

.about-image {
  width: 50%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.about-text {
  position: absolute;
  right: 0.5%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  border-radius: 10px;
  width: 60%;
  text-align: left;
}

.about-text h2 {
  margin-bottom: 10px;
  color: #333;
}

.about-text p {
  font-size: 14px;
  color: #555;
  line-height: 1.5;
}
